/* Colour Variables */
/* General settings */
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  position: relative;
}

h1 {
  font-family: "shrikhand", Arial, Helvetica, sans-serif;
  margin: 0px 0px 0px 20px;
  font-weight: 400;
  font-size: 28px;
}

h2 {
  margin: 0px;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}

h3 {
  margin: 0px;
  font-size: 18px;
  font-weight: 500;
}

p {
  margin: 0px;
}

.shrikhand {
  font-family: "shrikhand", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

/* Index Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}
header .logo {
  height: 63px;
  width: 100%;
}
header .logo img {
  padding-top: 13px;
  width: 197px;
  height: 36px;
}
header .back {
  height: 18px;
  width: 18px;
  font-size: 18px;
  position: absolute;
  left: 22px;
  top: 22px;
}

/* Title */
.title {
  display: flex;
  flex-direction: row;
  position: relative;
}
.title .like {
  position: absolute;
  right: 40px;
  top: 10px;
}

/* Image */
.image {
  display: flex;
  z-index: 0;
}
.image img {
  height: 275px;
  width: 100%;
  background-clip: padding-box;
}

/* Img Cover*/
.img-cover {
  display: block;
  width: 100%;
  height: 30px;
  border-radius: 30px 30px 0px 0px;
  background-color: #F6F6F6;
  position: absolute;
  z-index: 20;
  top: 310px;
}

/* Main */
main {
  background-color: #F6F6F6;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .menu {
  padding: 13px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
main .menu .bar {
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
}

/* Checkbox Card */
.checkbox {
  display: none;
}

.item {
  width: 349px;
  height: 70px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
.item .span-text {
  display: inline-block;
  width: 312px;
  margin: 15px 0px 15px 15px;
  transition: all 0.25s ease-in-out;
}
.item .span-text p {
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item .span-text h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item .span-check {
  display: flex;
  flex-direction: row;
  transform: translateX(60px);
  margin-left: -60px;
  transition: all 0.25s ease-in-out;
}
.item .span-check .price {
  font-weight: 500;
  margin: 15px;
  align-self: flex-end;
}
.item .span-check .checked {
  height: auto;
  width: 60px;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.item .span-check .checked .fa-solid {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
  color: white;
}

/* Search button */
.searchbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  width: 218px;
  border-radius: 25px;
  margin-bottom: 30px;
  margin: auto;
  cursor: pointer;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}
.searchbutton:hover {
  opacity: 0.75;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

/* Footer */
footer {
  background-color: #353535;
  color: white;
  padding: 22px 25px 22px 25px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer p {
  margin: 0px;
}
footer .footer {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .footer a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
}
footer .footer a .bolded {
  font-weight: 500;
}
footer .footer .fa-solid {
  margin-right: 10px;
}

/* Checkbox Like  */
input[type=checkbox] {
  position: absolute;
}
input[type=checkbox] + label {
  position: relative;
  cursor: pointer;
}
input[type=checkbox] + label .heartChecked {
  display: none;
}
input[type=checkbox]:checked + label .heartChecked {
  display: block;
}
input[type=checkbox]:checked + label .heartUnchecked {
  display: none;
}
input[type=checkbox]:checked + label .span-check {
  transition: all 0.5s ease-in-out;
  transform: translateX(0px);
}
input[type=checkbox]:checked + label .span-text {
  width: 222px;
}

/*  Tablet */
@media screen and (min-width: 600px) {
  .menu {
    margin: auto;
  }
  .menu .item {
    width: 500px;
  }
}
/* Desktop */
@media screen and (min-width: 1440px) {
  body {
    position: relative;
  }
  body .image img {
    height: 383px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main {
    width: 1055px;
    margin: auto;
    position: relative;
  }
  body main .title {
    margin: auto;
  }
  body main .title .like {
    right: -50px;
  }
  body main .menu {
    margin: auto;
  }
  body main .menu .item {
    width: 634px;
  }
  body main .menu .item:hover .span-check {
    transition: all 0.25s ease-in-out;
    transform: translateX(0px);
  }
  body main .img-cover {
    display: block;
    width: 1055px;
    height: 30px;
    border-radius: 30px 30px 0px 0px;
    background-color: #F6F6F6;
    position: absolute;
    top: -30px !important;
    z-index: 20;
    top: 400px;
  }
  body footer {
    display: flex;
    flex-direction: row-reverse;
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
  body footer .footer {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}/*# sourceMappingURL=pages.css.map */