/* Colour Variables */

$color-bg-grey: #F6F6F6;
$color-bg-grey2: #EAEAEA;
$color-font: #353535;
$color-font-2: #7E7E7E;
$color-purple: #9356DC;
$color-light-green: #99E2D0;
$color-dark-green: #008766;

@mixin gradient {
    background: linear-gradient(to bottom, #FF79DA, #9356DC);
}
@mixin box-shadow {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

@mixin box-shadow-2 {
    box-shadow: 0px 4px 15px 0px #0000001A;
}

@mixin box-shadow-3 {
    box-shadow: 0px 4px 15px 0px #00000026;
}

@mixin box-shadow-4 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* General settings */
body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-family: "shrikhand", Arial, Helvetica, sans-serif;
    margin: 0px 0px 0px 20px;
    font-weight: 400;
    font-size: 28px;
}

h2 {
    
    margin: 0px;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
}

h3 {
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
}

p {
    margin: 0px;
}

.shrikhand {
    font-family: "shrikhand", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

/* Index Header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    .logo {
        height: 63px;
        width: 100%;
        img {
            padding-top: 13px;
            width: 197px;
            height: 36px;
        }
    }
    .back {
        height: 18px;
        width: 18px;
        font-size: 18px;
        position: absolute;
        left: 22px;
        top: 22px;
    }
    
}



/* Title */

.title {
    display: flex;
    flex-direction: row;
    position: relative;
    .like {
        position: absolute;
        right: 40px;
        top: 10px;
    }
}

/* Image */

.image {
    img {
        height: 275px;
        width: 100%;
        background-clip: padding-box;
    }
}

/* Main */

main {
    background-color: $color-bg-grey;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    .menu {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .bar {
            height: 3px;
            width: 40px;
            background-color: $color-light-green;
        }

        .item {
            position: relative;
            background-color: white;
            border-radius: 15px;
            text-decoration: none;
            color: black;
            box-shadow: 0px 4.01px 15.04px 0px #0000001A;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            overflow: hidden;
            
            .itemMain {
                width: 100%;
                padding: 15px;

                .priceline {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: auto;
                    

                    p {
                        font-size: 15px;
                        font-weight: 300;
                    }
                    .prix {
                        font-size: 15px;
                        font-weight: 500;
                        
                    }
                }
            }

            
            .check {
                width: 60px;
                height: 70px;
                background-color: $color-light-green;
                border-radius: 0px 15px 15px 0px;
                display: flex;
                justify-content: center;
                flex-shrink: 0;
                margin-right: -60px;

                .fa-solid {
                    margin-top: auto;
                    margin-bottom: auto;
                    font-size: 20px;
                    color: white;
                }

            }
        } 
    }

    .searchbutton {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 16px;
            font-weight: 400;
            height: 50px;
            width: 218px;
            border-radius: 25px;
            margin-bottom: 30px;
            margin: auto;
            @include gradient;
            @include box-shadow;
    }
}



/* Footer */

footer {
    background-color: $color-font;
    color: white;
    padding: 22px 25px 22px 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    p {
        margin: 0px;
    }
    
    .footer {
        display: flex;
        flex-direction: column;
        gap: 7px;
        a{
            text-decoration: none;
            color: white;
            font-size: 16px;
            font-weight: 400;

            .bolded {
                font-weight: 500;
            }
        }
    }
}

/* Desktop */

@media screen and (min-width: 961px) {

    body {
        position: relative;
    }

    .image {
        img {
            height: 383px;
            width: 100%;
            object-fit: cover;
        }
    }

    .img-cover {
        width: 1055px;
        height: 30px;
        border-radius: 30px 30px 0px 0px;
        background-color: $color-bg-grey;
        position: absolute;
    }

    main {
        width: 1055px;
        margin: auto;

        .title {
            margin: auto;
            .like {
                position: static;
            }
        }

        .menu {
            width: 634px;
            margin: auto;
        }
    }

}
