/* Colour Variables */

$color-bg-grey: #F6F6F6;
$color-bg-grey2: #EAEAEA;
$color-font: #353535;
$color-font-2: #7E7E7E;
$color-purple: #9356DC;
$color-light-green: #99E2D0;
$color-dark-green: #008766;

@mixin gradient {
    background: linear-gradient(to bottom, #FF79DA, #9356DC);
}
@mixin box-shadow {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

@mixin box-shadow-2 {
    box-shadow: 0px 4px 15px 0px #0000001A;
}

@mixin box-shadow-3 {
    box-shadow: 0px 4px 15px 0px #00000026;
}

@mixin box-shadow-4 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* General settings */
body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

h1 {
    margin: 0px;
    font-weight: 700;
    font-size: 24px;
}

h2 {
    margin: 0px;
    font-weight: 700;
    font-size: 24px;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

p {
    margin: 0px;
}

.shrikhand {
    font-family: "shrikhand", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
}








/* Index Header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    
     
    .logo {
        height: 63px;
        width: 100%;
        box-shadow: 0px 2px 4px 0px #00000026; 
        overflow: visible;
        z-index: 100;
        
        img {
            padding-top: 13px;
            width: 197px;
            height: 36px;
        }
    }
    .input-placeholder {
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 500;
        font-size: 16px;
        color: $color-font;
        background-color: $color-bg-grey2;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); // Not working?
        z-index: 50;
        
        .input-content {
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: center;
            gap: 17px;
        }

    }
    .search {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-bg-grey;
        padding: 30px;
        gap: 20px;
        box-sizing: border-box;
        
        p{
            font-family: "Roboto";
            font-weight: 300;
            font-size: 18px;
            color: $color-font;

        }
        .searchbutton {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 16px;
            font-weight: 400;
            height: 50px;
            width: 218px;
            border-radius: 25px;
            margin-bottom: 30px;
            text-decoration: none;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            @include gradient;
            transition: 0.5s;
            &:hover {
                opacity: 0.75;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
               
            }
        }
    }
}

/* Explication*/

.explication {
    padding: 50px 25px 50px 25px;
    display: flex;
    flex-direction: column;
    h2 {
        margin-bottom: 20px;
    }
    .ex-wrap {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .ex-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
        background-color: $color-bg-grey;
        border-radius: 20px;
        padding: 20px;
        @include box-shadow-3;
        position: relative;

        p {
            font-weight: 500;
            font-size: 16px;
        }

        .fa-solid {
            color: $color-font-2;
        }
        .number-wrap {
            position: absolute;
            left: -15px;

            .number-circle {
            height: 24px;
            width: 24px;
            border-radius: 50%;
            background-color: $color-purple;
            position: relative;
            .number {
                color: white;
                position: absolute;
                left: 7px;
                top: 3px;
            }
        }
        }
    }
    }
}


/* Restaurants */

.restaurants {
    background-color: $color-bg-grey;
    padding: 30px 0px 50px 0px;

    h2 {
        margin-left: 28px;
        margin-bottom: 20px;
    }

    .card-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        
        .card {
            width: 340px;
            height: 250px;
            position: relative;
            
            a {
                display: flex;
                flex-direction: column;
                text-decoration: none;
                color: black;
                border-radius: 15px;
                width: 340px;
                height: 250px;
                background-color: white;
                @include box-shadow-2;
                
                img {
                    border-radius: 15px 15px 0px 0px;
                    width: 340px;
                    height: 170px;
                    object-fit: cover;
                    object-position: 0px -57px;
                }
                .new {
                    position: absolute;
                    width: 80px;
                    height: 30px;
                    background-color: $color-light-green;
                    color: $color-dark-green;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    right: 16px;
                    top: 16px;
                }

                .card-content {
                    padding: 15px;
                    
                    .card-txt {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                        h3 {
                            margin: 0px;
                            
                        }
                        p {
                            margin: 0px;
                            font-size: 17px;
                            font-weight: 300;
                            
                        }
                    }
                }

            }
            .like {
                    position: absolute;
                    width: 22px;
                    height: 21px;
                    top: 197px;
                    right: 23px;
                    
                }
        }
    }
}

/* Checkboxes*/

.heart {
    position: absolute;
}

.checkbox {
    display: none;
}

input[type="checkbox"] {
    position: absolute;

    //Default State

    

    & + label {
        position: relative;
        cursor: pointer;
        .heartChecked {
            display: none;
        } 
    }

    // Checked state

    &:checked + label {
        .heartChecked {
            display: block;
        }
    }
}


/* Footer */

footer {
    background-color: $color-font;
    color: white;
    padding: 22px 25px 22px 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    p {
        margin: 0px;
    }
    
    .footer {
        display: flex;
        flex-direction: column;
        gap: 7px;
        a{
            text-decoration: none;
            color: white;
            font-size: 16px;
            font-weight: 400;

            .bolded {
                font-weight: 500;
            }
        }
    }
}

/* Loader */

.loader {
    background-color: grey;
    width: 100%;
    height:0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: top;
    overflow: hidden;
    z-index: 1000;
    animation-delay: 3s;
    animation: slideup 2s linear;

    .loadroll {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 16px solid lavender;
        border-top: 16px solid #9356DC;
        border-right: 16px solid #FF79DA;
        border-bottom: 16px solid #99E2D0;
        animation: spin 2s linear infinite;
    }
}

/* Animations */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes slideup {
    0% {height: 100vh;}
    90% {height: 100vh;}
    100% {height: 0vh;}
}


/* Desktop */

@media screen and (min-width: 961px) {

    body {

        .header {
            width: 100%;
            
            .search {
                width: 100%;
                padding: 0px;
            }
        }
    }
    

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;

    }

    .explication {
            
            width: 1080px;
            margin: auto;
            .ex-wrap {
                display: flex;
                flex-direction: row;
                .ex-button {
                    width: 335px;
                }
    
            }
        }

    

    

    .restaurants {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            margin-left: 0px;
        }
        .card-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 100px;
            max-width: 1080px;
            .card {
                width: 490px;
                a {
                    width: 490px;
                    img {
                        width: 490px;
                    }
                }
            }
        }
    }

    

    footer {
        display: flex;
        flex-direction: row-reverse;

        .footer {
            display: flex;
            flex-direction: row;
        }
    }
}